<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Easy Order</title>
</head>
<body>
    <section class="app">
        <section class="appBar">
            <a href="javascript:history.back()"><img src="/images/backArrow.png" alt="Back Arrow"></a>
            <h1>Easy Order</h1>
            <img src="/images/menu.png" alt="Menu">
        </section>
        <section class="navBar sombra">
            <a class="" href="/populares">POPULARES</a>
            <a class="activo" href="/categorias">CATEGORÍAS</a>
            <a class="" href="/ofertas">OFERTAS</a>
        </section>

        <section class="content">
            <article class="categoria sombra">
                <img class="imgCategoria" src="/images/asiatica.png" alt="Imagen Categoría">
                <div>
                    <h2>Asiática</h2>
                    <span>Sr. Wok y Sarku Japan</span>
                </div>
                <a href="/categorias/asiatica" class="buttonDos uno"><img src="/images/goArrow.png" alt="goArrow"></a>
            </article>

            <article class="categoria sombra">
                <img class="imgCategoria" src="/images/carne.png" alt="Imagen Categoría">
                <div>
                    <h2>Carnes & Parrilla</h2>
                    <span>Rayuela, La Sevilla y El Corral</span>
                </div>
                <a href="/categorias/carnesyparrilla" class="buttonDos dos"><img src="/images/goArrow.png" alt="goArrow"></a>
            </article>

            <article class="categoria sombra">
                <img class="imgCategoria" src="/images/pizza.png" alt="Imagen Categoría">
                <div>
                    <h2>Pizza & Pasta</h2>
                    <span>Jenos Pizza y Oscar Cubides</span>
                </div>
                <a href="/categorias/pizzaypasta" class="buttonDos tres"><img src="/images/goArrow.png" alt="goArrow"></a>
            </article>

            <article class="categoria sombra">
                <img class="imgCategoria" src="/images/rapida.png" alt="Imagen Categoría">
                <div>
                    <h2>Rápida</h2>
                    <span>El Corral, Subway y La Arepería</span>
                </div>
                <a href="/categorias/rapida" class="buttonDos uno"><img src="/images/goArrow.png" alt="goArrow"></a>
            </article>

            <article class="categoria sombra">
                <img class="imgCategoria" src="/images/internacional.png" alt="Imagen Categoría">
                <div>
                    <h2>Internacional</h2>
                    <span>Rayuela y Oscar Cubides</span>
                </div>
                <a href="/categorias/internacional" class="buttonDos dos"><img src="/images/goArrow.png" alt="goArrow"></a>
            </article>
        </section>
    </section>
</body>
</html>