<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>El Corral</title>
</head>

<body>
    <section class="app">
        <section class="appBar sombra">
            <a href="javascript:history.back()">
                <img src="/images/backArrow.png" alt="Back Arrow">
            </a>
            <h1>El Corral</h1>
            <img src="/images/menu.png" alt="Menu">
        </section>

        <section class="content grande">
            <section class="title">
                <img class="logo" src="/images/logoElCorral.png" alt="Logo El Corral">
                <div>
                    <h1>El Corral</h1>
                    <p>La Receta Original</p>
                    </br>
                    <p>Tiempo de espera aproximado:</p>
                    <h2>20 Minutos</h2>
                </div>
                <span>4.6</span><img src="/images/like.png" alt="like">
            </section>

            <div class="separador"></div>
            
            <section class="pedido sombra">
                <article class="platos">
                    <img class="imgPlato" src="/images/platoCorral.png" alt="Imagen Categoría">
                    <div class="info">
                        <h1>Corral</h1>
                        <span>La tradicional con ¼ lb. de carne de res, lechuga fresca, tomate y cebolla recién cortados. Salsas y las adiciones que prefieras.</span>
                    </div>
                </article>
                <div class="contenido">
                <article class="adiciones">
                    <h1>Ingredientes y Adiciones</h1>
                    <article class="opciones sombra">
                        <ul>
                            <li>
                                <h1>Tomate</h1>
                                <span>valor <b>$0</b></span>
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>Cebolla</h1>
                                <span>valor <b>$0</b></span>
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>Lechuga</h1>
                                <span>valor <b>$0</b></span>
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>BBQ</h1>
                                <span>valor <b>$0</b></span>
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>Mayonesa</h1>
                                <span>valor <b>$0</b></span>
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>Tocineta</h1>
                                <span>valor <b>$2.500</b></span>
                                <label>
                                    <input type="checkbox" >
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>Queso</h1>
                                <span>valor <b>$1.500</b></span>
                                <label>
                                    <input type="checkbox">
                                    <span class="check"></span>
                                </label> 
                            </li>
                            <li>
                                <h1>Doble Carne</h1>
                                <span>valor <b>$4.000</b></span>
                                <label>
                                    <input type="checkbox">
                                    <span class="check"></span>
                                </label> 
                            </li>
                        </ul>                    
                    </article>
                </article>
                <article class="acciones">
                    <article class="combo sombra">
                        <a href="/elCorral/corralCombo">
                            <div>   
                                <h1>EN COMBO</h1>                         
                                <img src="/images/combo.png" alt="iconCombo">
                            </div>    
                        </a>                    
                    </article>
                    <article class="finalizar sombra">
                        <a href="/finalizarPedido">
                        <div>
                            <p>FINALIZAR</p>
                            <h1>$14.500</h1>
                            <p>PEDIDO</p>
                        </div>
                        </a>
                    </article>
                </article>
                </div>
            </section>
        </section>
    </section>
</body>

</html>