<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>El Corral</title>
</head>

<body>
    <section class="app">
        <section class="appBar sombra">
            <a href="javascript:history.back()">
                <img src="/images/backArrow.png" alt="Back Arrow">
            </a>
            <h1>El Corral</h1>
            <img src="/images/menu.png" alt="Menu">
        </section>

        <section class="content grande finalizado">
            <h2>Pedido Finalizado</h2>
            <h1>$22.500</h1>
            <a href="/#" class="buttonTres">EFECTIVO</a>
            <a href="/#" class="buttonTres">PSE</a>
            <a href="/#" class="buttonTres">CREDITO</a>
            <a href="/" class="buttonTres">DÉBITO</a>
        </section>

        
    </section>
</body>