<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Easy Order</title>
</head>
<body>
    <section class="app">
        <section class="appBar">
            <img src="/images/backArrow.png" alt="Back Arrow">
            <h1>Easy Order</h1>
            <img src="/images/menu.png" alt="Menu">
        </section>
        <section class="navBar sombra">
            <h2 class="">POPULARES</h2>
            <h2 class="activo">CATEGORÍAS</h2>
            <h2 class="">OFERTAS</h2>
        </section>

        <section class="content">
            <article class="restaurante sombra">
                <img class="banner" src="/images/bannerElCorral.png" alt="Banner de {Restaurante}">
                <div class="mascara uno">
                    <article>
                        <img class="logo" src="/images/logoElCorral.png" alt="Logo de {Restaurante}">
                        <button>ESCOGER</button>
                    </article>
                </div>
            </article>
            <article class="restaurante sombra">
                <img class="banner" src="/images/bannerSubway.png" alt="Banner de {Restaurante}">
                <div class="mascara dos">
                    <article>
                        <img class="logo" src="/images/logoSubway.png" alt="Logo de {Restaurante}">
                        <button>ESCOGER</button>
                    </article>
                </div>
            </article>

            <article class="restaurante sombra">
                <img class="banner" src="/images/bannerLaSevillana.png" alt="Banner de {Restaurante}">
                <div class="mascara tres">
                    <article>
                        <img class="logo" src="/images/logoLaSevillana.png" alt="Logo de {Restaurante}">
                        <button>ESCOGER</button>
                    </article>
                </div>
            </article>
            <article class="restaurante sombra">
                <img class="banner" src="/images/bannerElCorral.png" alt="Banner de {Restaurante}">
                <div class="mascara uno">
                    <article>
                        <img class="logo" src="/images/logoElCorral.png" alt="Logo de {Restaurante}">
                        <button>ESCOGER</button>
                    </article>
                </div>
            </article>
            <article class="restaurante sombra">
                <img class="banner" src="/images/bannerElCorral.png" alt="Banner de {Restaurante}">
                <div class="mascara dos">
                    <article>
                        <img class="logo" src="/images/logoElCorral.png" alt="Logo de {Restaurante}">
                        <button>ESCOGER</button>
                    </article>
                </div>
            </article>
        </section>
    </section>
</body>
</html>