<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>La Sevillana</title>
</head>

<body>
    <section class="app">
        <section class="appBar sombra">
            <a href="javascript:history.back()">
                <img src="/images/backArrow.png" alt="Back Arrow">
            </a>
            <h1>La Sevillana</h1>
            <img src="/images/menu.png" alt="Menu">
        </section>

        <section class="content grande">
            <section class="title">
                <img class="logo" src="/images/logoLaSevillana.png" alt="Logo El Corral">
                <div>
                    <h1>La Sevillana</h1>
                    <p>El sabor natural de la carne</p>
                    </br>
                    <p>Tiempo de espera aproximado:</p>
                    <h2>25 Minutos</h2>
                </div>
                <span>4.3</span><img src="/images/like.png" alt="like">
            </section>
            <div class="separador"></div>
            <section class="menu">
                <h1 class="nombre">HAMBURGUESAS A LA PLANCHA</h1>
                <article class="platos sombra">
                    <img class="imgPlato" src="/images/platoCorral.png" alt="Imagen Categoría">
                    <div class="info">
                        <h1>Corral</h1>
                        <span>La tradicional con ¼ lb. de carne de res, lechuga fresca, tomate y cebolla recién cortados. Salsas y las adiciones que prefieras.</span>
                    </div>
                    <div>
                        <a href="/elCorral/corral" class="buttonDos uno">
                            <img src="/images/goArrow.png" alt="goArrow">
                        </a>
                        <h2>$ 14.500</h2>
                    </div>
                </article>
                <article class="platos sombra">
                    <img class="imgPlato" src="/images/platoCorral.png" alt="Imagen Categoría">
                    <div class="info">
                        <h1>Corral con Queso</h1>
                        <span>La tradicional con queso mozzarella, verduras frescas y salsas.</span>
                    </div>
                    <div>
                        <a href="/elCorral/corralQueso" class="buttonDos uno">
                            <img src="/images/goArrow.png" alt="goArrow">
                        </a>
                        <h2>$ 16.800</h2>
                    </div>
                </article>
            </section>

            <section class="menu">
                <h1 class="nombre">HAMBURGUESAS A LA PARRILLA</h1>
                <article class="platos sombra">
                    <img class="imgPlato" src="/images/platoCorralisima.png" alt="Imagen Categoría">
                    <div class="info">
                        <h1>Todoterreno</h1>
                        <span>Dos porciones de ¼ de lb. De carne de res asada a la parrilla, con tocineta, queso mozzarela, vegetales, pepinillos y salsa BBQ.</span>
                    </div>
                    <div>
                        <a href="/elCorral/todoterreno" class="buttonDos uno">
                            <img src="/images/goArrow.png" alt="goArrow">
                        </a>
                        <h2>$ 25.200</h2>
                    </div>
                </article>
                <article class="platos sombra">
                    <img class="imgPlato" src="/images/platoCasera.png" alt="Imagen Categoría">
                    <div class="info">
                        <h1>Corral Casera</h1>
                        <span>1/3 Lb. De carne de res, con queso americano, cebolla roja recién cortada, tomate y lechuga fresca.</span>
                    </div>
                    <div>
                        <a href="/elCorral/corralCasera" class="buttonDos uno">
                            <img src="/images/goArrow.png" alt="goArrow">
                        </a>
                        <h2>$ 19.800</h2>
                    </div>
                </article>
            </section>
        </section>
    </section>
</body>

</html>