@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800');
$amarillo: #fbae17;
$violeta: #6900ff;
$rojo: #ef4552;
$margen: 15px;
section,
div,
article {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
span,
button,
a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #111;
}

.sombra {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button{
    padding: 12px 30px;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 1.1em;
    background: #fff;
    box-shadow: 0 4px 10px #bbb;
    outline: none;
    color: #fff;
    transition: all 0.15s ease;
    &:hover{
        cursor: pointer;
    }
    &:active{
        cursor: pointer;
        box-shadow: 0 2px 2px #bbb;
    }
}

.buttonDos{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 1.1em;
    background: #fff;
    box-shadow: 0 4px 10px #bbb;
    outline: none;
    color: #fff;
    transition: all 0.15s ease;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;        
        box-shadow: 0 2px 2px #bbb;
    }
    &:active{
        cursor: pointer;
        box-shadow: 0 2px 2px #bbb;
    }
    img{
        width: 50%;
        margin-top: -1px;
        margin-left: 3px;
    }
}

body{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0;
    background: #777;
    overflow: hidden;
    .app{
        box-sizing: border-box;
        width: 700px;
        background: #fff;
        .appBar {
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            position: relative;
            z-index: 2000;
            h1{
                font-size: 1.7em;
            }
            img {
                height: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .navBar {
            width: 100%;
            height: 7vh;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            align-content: center;
            justify-content: space-around;
            position: relative;
            z-index: 1000;
            a {
                padding: 25px 20px 15px;
                color: #ccc;
                font-weight: 600;
                font-size: 1.2em;
                transition: all 0.15s ease;
                &:hover{
                    cursor: pointer;
                    border-bottom: solid 3px #111;
                    color: #111;
                }
            }
            .activo {
                border-bottom: solid 3px #111;
                color: #111;
            }
        }
        .content {
            width: 100%;
            height: 83vh;
            padding: $margen;
            overflow: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #eee;
            }
            &::-webkit-scrollbar {
                width: 8px;
                background-color: #eee;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #aaa;
                border-radius: 40px;
            }
            .restaurante {
                widows: 100%;
                height: 35%;
                margin-bottom: $margen;
                overflow: hidden;
                position: relative;
                .banner {
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
                .mascara {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 101%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 1) 60%);
                    article {
                        margin-right: 10%;
                        display: flex;
                        align-content: center;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        .logo {
                            width: 140px;
                            margin-bottom: $margen;
                        }
                    }
                }
                .uno {
                    .button{
                        background: $violeta;
                    }
                }
                .dos {
                    .button{
                        background: $amarillo;
                    }
                }
                .tres {
                    .button{
                        background: $rojo;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .categoria{
                widows: 100%;
                height: 20%;
                margin-bottom: $margen;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                align-content: center;

                &:last-child {
                    margin-bottom: 0;
                }

                .imgCategoria {
                    flex: 20% 0 1;
                    height: 85%;
                    margin-left: $margen;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    flex: 60% 0 1;
                    margin-left: 5%;
                    h2{
                        font-size: 1.8em;
                        margin-top: -5px;
                        margin-bottom: 5px;
                    }
                    span{
                        font-size: 1em;
                    }
                }

                .uno {
                    background: $violeta;
                }
                .dos {
                    background: $amarillo;
                }
                .tres {
                    background: $rojo;
                }
            }
            .title{
                padding-top: $margen;
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                img {
                    width: 5%;
                    margin-top: $margen;
                    margin-left: -5px;
                    align-self: flex-start;
                }
                .logo {
                    width: 30%;
                    margin: 0;
                }
                span{
                    margin-top: $margen;
                    align-self: flex-start;
                    color: $rojo;
                    font-weight: 500;
                    
                }
                div {
                    flex: 55% 0 1;
                    margin-left: $margen;
                    h1, h2, p{
                        margin: 0;
                    }
                    h1{
                        font-size: 2em;
                    }
                    h2 {
                        font-size: 1.4em;
                    }
                    p{
                        font-size: 1em;
                    }
                }
            }
            .separador {
                width: 120%;
                height: 2px;
                background: #eee;
                margin-left: -10%;
                margin-top: $margen;
            }
            .menu {
                height: 40%;
                margin-top: 35px;
                &:first-child{
                    margin-top: -10px;
                }
                .platos{
                    padding: $margen;
                    widows: 100%;
                    height: 40%;
                    margin-bottom: $margen;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    align-content: center;
                    .imgPlato {
                        widows: 15%;
                        height: 100%;
                        margin-left: $margen*.5;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        flex: 20% 0 1;
                        .buttonDos{
                            margin-top: 30px;
                            background: $amarillo;
                        }
                        h2{
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            font-size: 1em;
                        }
                    }
                    .info{
                        align-items: flex-start;
                        flex: 60% 0 1;
                        margin-left: 5%;
                        h1{
                            font-size: 1.8em;
                            margin-top: -5px;
                            margin-bottom: 5px;
                        }
                        span{
                            font-size: .8em;
                        }
                    }
                }
            }
        }
        .grande {
            height: 90vh;
        }
    }
}

@media screen and (width: 500px) {
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        .app {
            width: 100%;
            height: 100vh;
        }
    }
}