@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800");
section,
div,
article {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
span,
button,
a {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #111;
}

.sombra {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button {
  padding: 12px 30px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 1.1em;
  background: #fff;
  box-shadow: 0 4px 10px #bbb;
  outline: none;
  color: #fff;
  transition: all 0.15s ease;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  cursor: pointer;
  box-shadow: 0 2px 2px #bbb;
}

.buttonDos {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 1.1em;
  background: #fff;
  box-shadow: 0 4px 10px #bbb;
  outline: none;
  color: #fff;
  transition: all 0.15s ease;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.buttonDos:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px #bbb;
}

.buttonDos:active {
  cursor: pointer;
  box-shadow: 0 2px 2px #bbb;
}

.buttonDos img {
  width: 50%;
  margin-top: -1px;
  margin-left: 3px;
}

body {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0;
  background: #777;
  overflow: hidden;
  padding: 10px;
}

body .app {
  box-sizing: border-box;
  width: 450px;
  background: #fff;
}

body .app .appBar {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 2000;
}

body .app .appBar h1 {
  font-size: 1.7em;
}

body .app .appBar img {
  height: 20px;
}

body .app .appBar img:hover {
  cursor: pointer;
}

body .app .navBar {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: center;
  justify-content: space-around;
  position: relative;
  z-index: 1000;
}

body .app .navBar a {
  padding: 25px 20px 15px;
  color: #ccc;
  font-weight: 600;
  font-size: 1.2em;
  transition: all 0.15s ease;
}

body .app .navBar a:hover {
  cursor: pointer;
  border-bottom: solid 3px #111;
  color: #111;
}

body .app .navBar .activo {
  border-bottom: solid 3px #111;
  color: #111;
}

body .app .content {
  width: 100%;
  height: 83vh;
  padding: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

body .app .content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eee;
}

body .app .content::-webkit-scrollbar {
  width: 8px;
  background-color: #eee;
}

body .app .content::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 40px;
}

body .app .content .restaurante {
  widows: 100%;
  height: 35%;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

body .app .content .restaurante .banner {
  position: absolute;
  top: 0;
  width: 100%;
}

body .app .content .restaurante .mascara {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.7) 40%, white 60%);
}

body .app .content .restaurante .mascara article {
  margin-right: 10%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body .app .content .restaurante .mascara article .logo {
  width: 140px;
  margin-bottom: 15px;
}

body .app .content .restaurante .uno .button {
  background: #6900ff;
}

body .app .content .restaurante .dos .button {
  background: #fbae17;
}

body .app .content .restaurante .tres .button {
  background: #ef4552;
}

body .app .content .restaurante:last-child {
  margin-bottom: 0;
}

body .app .content .categoria {
  widows: 100%;
  height: 20%;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

body .app .content .categoria:last-child {
  margin-bottom: 0;
}

body .app .content .categoria .imgCategoria {
  flex: 20% 0 1;
  height: 85%;
  margin-left: 15px;
}

body .app .content .categoria div {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 60% 0 1;
  margin-left: 5%;
}

body .app .content .categoria div h2 {
  font-size: 1.8em;
  margin-top: -5px;
  margin-bottom: 5px;
}

body .app .content .categoria div span {
  font-size: 1em;
}

body .app .content .categoria .uno {
  background: #6900ff;
}

body .app .content .categoria .dos {
  background: #fbae17;
}

body .app .content .categoria .tres {
  background: #ef4552;
}

body .app .content .title {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

body .app .content .title img {
  width: 5%;
  margin-top: 15px;
  margin-left: -5px;
  align-self: flex-start;
}

body .app .content .title .logo {
  width: 30%;
  margin: 0;
}

body .app .content .title span {
  margin-top: 15px;
  align-self: flex-start;
  color: #ef4552;
  font-weight: 500;
}

body .app .content .title div {
  flex: 55% 0 1;
  margin-left: 15px;
}

body .app .content .title div h1, body .app .content .title div h2, body .app .content .title div p {
  margin: 0;
}

body .app .content .title div h1 {
  font-size: 2em;
}

body .app .content .title div h2 {
  font-size: 1.4em;
}

body .app .content .title div p {
  font-size: 1em;
}

body .app .content .separador {
  width: 120%;
  height: 2px;
  background: #eee;
  margin-left: -10%;
  margin-top: 15px;
}

body .app .content .menu {
  height: 40%;
  margin-top: 35px;
}

body .app .content .menu:first-child {
  margin-top: -10px;
}

body .app .content .menu .platos {
  padding: 15px;
  widows: 100%;
  height: 40%;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

body .app .content .menu .platos .imgPlato {
  widows: 15%;
  height: 100%;
  margin-left: 7.5px;
}

body .app .content .menu .platos div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex: 20% 0 1;
}

body .app .content .menu .platos div .buttonDos {
  margin-top: 30px;
  background: #fbae17;
}

body .app .content .menu .platos div h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
}

body .app .content .menu .platos .info {
  align-items: flex-start;
  flex: 60% 0 1;
  margin-left: 5%;
}

body .app .content .menu .platos .info h1 {
  font-size: 1.8em;
  margin-top: -5px;
  margin-bottom: 5px;
}

body .app .content .menu .platos .info span {
  font-size: .8em;
}

body .app .grande {
  height: 90vh;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body .app {
    width: 100%;
    height: 100vh;
  }
}
/*# sourceMappingURL=main.css.map */